NEXT_PUBLIC_APP_URL=https://www.absolute-erp.com
NEXT_PUBLIC_SITE_URL=https://www.absolute-erp.com
APP_URL=https://www.absolute-erp.com
BASE_URL=https://www.absolute-erp.com
SYSTEM_ADMIN_DELETE_KEY=replace-with-secure-admin-delete-key
